{% extends '../layouts/default.html' %}


{#
    content块的内容赋值，当前是注册界面内容
#}

{% block content %}


<div class="well">
<form class="form-horizontal " action="/register" method="post">
  <fieldset>
    <legend>登录</legend>
    <div class="form-group">
      <label for="username" class="col-md-2 control-label">用户</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="username" name="un" placeholder="用户" value="{{ username }}">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-2 control-label">密码</label>
      <div class="col-md-2">
        <input type="password" class="form-control" name="pw" id="password" placeholder="密码">
      
      </div>
    </div>
    <div class="form-group">
      <label for="validate_password" class="col-md-2 control-label">验证密码</label>
      <div class="col-md-2">
        <input type="password" class="form-control" name="vpw" id="validate_password" placeholder="再次输入密码">
      
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button type="submit" class="btn btn-primary">注册</button>
      </div>
    </div>
  </fieldset>
</form>

</div>



{% endblock %}