<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用例设计</title>
    
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/css/zTreeStyle/zTreeStyle.css" />
    <link rel="stylesheet" href="vendor/jsplumb/css.css">
    <link rel="stylesheet" href="vendor/jsplumb/jsplumbtoolkit-defaults.css">
    <link rel="stylesheet" href="vendor/jsplumb/jsplumbtoolkit-demo.css">
    <link rel="stylesheet" href="vendor/jsplumb/app.css">
    <link rel="stylesheet" href="css/common.css" />
    
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery.ztree.core.min.js"></script>
    <script src="/vendor/jquery/jquery.ztree.excheck.min.js"></script>
    <script src="/vendor/jquery/jquery.ztree.exedit.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jsplumb/jsplumb.js"></script>
    <script src="/vendor/jsplumb/jsplumbtoolkit.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/design.js"></script>

    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
-->
</head>

<body>
    <!-- 头部导航 -->
    {% include "layouts/header.html"%}
    <div class="container-fluid">
        <div class="row">
            <!-- 左侧tree和工程bar -->
            {% include "layouts/sidebar.html"%}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 location-indicator">
                            <span>当前位置: <a href="/">图测</a> > 设计</span>
                        </div>
                    </div>
                    <div class="row">
                       <div class="jtk-container">
                            <div class="jtk-demo-main">
                                <!-- canvas -->
                                <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
                                </div>
                            </div>
                        </div>
                        
<!--
                        <div class="col-md-12">
                            <textarea id="model-content" class="form-control text-left" rows="25" placeholder="无模型数据，请导入模型文件"></textarea>
                        </div>
-->
                    </div>
                    <div class="row">
                        <!--
                   <div class="right">
                                <button id="btn-get-path-all" class="btn btn-primary">全路径覆盖</button>
                        <button id="btn-get-path-custom" class="btn btn-primary">自定义覆盖</button>
                            </div>

    -->
                        <div class="col-sm-4 right" style="
    padding-top: 12px;padding-right: 10px;">
                            <div class="right">
                                <button id="btn-get-path-all" class="btn btn-primary">全路径覆盖</button>
                                <button id="btn-get-path-custom" class="btn btn-primary">自定义覆盖</button>
                            </div>
                        </div>

                        <!--
                    <div class="col-md-12">
                        <div class="btn-group right" role="group">
                            <button id="btn-get-path-all" class="btn btn-primary">全路径覆盖</button>
                            <button id="btn-get-path-custom" class="btn btn-primary">自定义覆盖</button>
                        </div>
                    </div>
    -->
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- input folder name modal-->
    <div class="modal" id="modal-folder-name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="folder-name">用例集名称:</label>
                            <input type="text" class="form-control" id="folder-name" placeholder="请输入用例集名称">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="modal-btn-save-paths">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- select start and end nodes modal-->
    <div class="modal" id="modal-select-nodes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">选择路径<mark>起始</mark>和<mark>终止</mark>节点</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="sel-node-start">起点</label>
                            <!--
                        <select class="form-control" id="sel-node-start">
                                <option>...</option>
                            </select>
-->
                            <input type="text" class="form-control" id="node-start" placeholder="起点node id">
                        </div>

                        <div class="form-group">
                            <label for="sel-node-end">终点</label>
                            <!--
                        <select class="form-control" id="sel-node-end">
                                <option>...</option>
                            </select>
-->
                            <input type="text" class="form-control" id="node-end" placeholder="终点node id">
                        </div>

                        <button type="button" class="btn btn-primary" id="modal-btn-get-path">生成</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
