<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>测试报告</title>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-table.min.js"></script>
    <script src="/vendor/bootstrap-table-zh-CN.js"></script>
    <script src="/vendor/bootstrap-table/bootstrap-editable.js"></script>
    <script src="/vendor/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/graphtest.param.js"></script>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/bootstrap-table/bootstrap-editable.css">
    <link rel="stylesheet" href="vendor/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="css/common.css"/>
    <script>
    	console.log('userId : ' + {{user.id}});
    	var userId = {{user.id}};
    	var model;
        $(function () {
            graphtest_param.initTable($("#graphtest-param"),userId);
            initModel(userId, loadModelSuccessed);
            
        });

        //加载模型
        function loadModelSuccessed(mlist) {
//    modelList = mlist;
//    model = modelList[0];
            model = mlist;
            changeModelName(model.model_name);
            changeModelId(model.id);

            console.log("loadModelSuccessed : " + JSON.stringify(model));
        }


    </script>
</head>

<body>

<!-- 头部导航 -->
{% include "layouts/header.html"%}
<div class="container-fluid">

    <div class="row">

       
        
        <div class="content">
            <div class="container-fluid">
                    <div class="col-md-8"> 
                    	<div id="toolbar" class="btn-group">
 							<button id="add" type="button" class="btn btn-default" >
 								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
 							</button> 							
 						</div>
                        <table id="graphtest-param" >
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>
